<partial src="layout/header/site-header.html"></partial>
<div class="content-wrapper">
    <partial src="layout/header/header.html"></partial>

    <main class="main-content">
        <partial src="components/hero-banner.html"></partial>
        <partial src="components/hp-anchor-block.html"></partial>
        <partial src="components/hp-intro.html"></partial>
        <partial src="components/hp-testimonial-new.html"></partial>
        <partial src="components/hp-two-columns.html"></partial>
        <partial src="components/hp-two-columns-with-bg.html"></partial>
        <partial src="components/hp-three-columns.html"></partial>
        <partial src="components/hp-stats-block.html"></partial>
        <partial src="components/hp-two-column-animated.html"></partial>
        <partial src="components/hp-masonary.html"></partial>
        <partial src="components/two-column-texts.html"></partial>
        <partial src="components/social-media-info.html"></partial>
    </main>

    <partial src="layout/footer/footer.html"></partial>
</div>

<partial src="layout/footer/site-footer.html"></partial>