<partial src="layout/header/site-header.html"></partial>
<div class="content-wrapper">
    <partial src="layout/header/header.html"></partial>

    <main class="main-content ip-main-content">
        <partial src="components/ip-page-banner.html"></partial>
        <!-- fixed button -->
        <a href="#" class="side-btn-fixed hidden">
            <img src="images/side-btn-artwork.svg" alt="IBSA Anniversary" class="img-fluid">
        </a>
        <partial src="components/ip-intro.html"></partial>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-8 offset-xl-1">
                        <article class="text-article">
                            <h2>Title H2 </h2>
                            <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida
                                elit enim aliquet hac duis habitasse vitae posuere etiam consequat. Sit nibh risus
                                molestie nunc eu nibh ac adipiscing ultrices id elementum. Lorem <strong>fusce orci enim
                                    scelerisque</strong> phasellus congue nibh at quam venenatis vel gravida elit enim
                                aliquet hac
                                duis habitasse vitae.</p>

                        </article>
                    </div>
                </div>
            </div>
        </section>

        <partial src="components/ip-carousel-block.html"></partial>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-8 offset-xl-1">
                        <article class="text-article ">
                            <h3>Title H3</h3>
                            <p>Lorem fusce orci enim <strong>scelerisque</strong> phasellus congue nibh at quam
                                venenatis vel gravida
                                elit enim aliquet hac duis habitasse vitae posuere etiam consequat. Sit nibh risus
                                molestie nunc eu nibh ac adipiscing <a href="#"><strong>ultrices id
                                        elementum:</strong></a></p>
                            <ul>
                                <li>Lorem fusce orci enim scelerisque phasellus</li>
                                <li>Lorem fusce <strong>orci enim</strong></li>
                                <li>Lorem <strong>fusce</strong> orci enim scelerisque</li>
                                <li>Lorem fusce orci enim dolor sit amet</li>
                            </ul>
                        </article>

                    </div>
                </div>
            </div>
        </section>
        <section class="section-video-block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-8 offset-xl-1">
                        <!-- Video Player  -->
                        <!-- <div class="video-main--outer">
                            <div class="video-wrapper">
                                <div class="video-poster"
                                    data-video="https://www.youtube.com/embed/qDaLSX16VTM?autoplay=1&rel=0"
                                    style="background-image: url('images/contents/video-bg.jpg')">
                                    <div class="play-button"></div>
                                </div>
                            </div>
                            <div class="video-caption">Lorem fusce orci enim scelerisque phasellus congue nibh at
                                quam venenatis vel gravida elit enim.</div>
                        </div> -->

                        <!-- Video Player -->
                        <div class="video-main--outer">
                            <div class="video-wrapper">
                                <div class="video-poster" data-type="youtube"
                                    data-video="https://www.youtube.com/embed/qDaLSX16VTM?autoplay=1&rel=0"
                                    style="background-image: url('images/contents/video-bg.jpg')">
                                    <div class="play-button"></div>
                                </div>
                            </div>
                            <div class="video-caption">Lorem fusce orci enim scelerisque phasellus congue nibh at
                                quam venenatis vel gravida elit enim.</div>
                        </div>

                        <div class="video-main--outer">
                            <div class="video-wrapper">
                                <div class="video-poster" data-type="mp4" data-video="images/video/banner-video.mp4"
                                    style="background-image: url('images/contents/video-bg.jpg')">
                                    <div class="play-button"></div>
                                </div>
                            </div>
                            <div class="video-caption">Lorem fusce orci enim scelerisque phasellus congue nibh at
                                quam venenatis vel gravida elit enim.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-block-min-spacing">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-8 offset-xl-1">
                        <article class="text-article">
                            <h4><em>Signor Licenziati, ci racconta com’è nata l’<strong>idea</strong> di fondare
                                    IBSA?</em></h4>
                            <p>«Tutto è nato da una forte passione per la scienza applicata alla salute delle persone.
                                Quando, alla fine degli anni ’70, ho avuto l'opportunità di rilevare IBSA, ho visto un
                                grande potenziale inespresso. Volevo creare un’azienda che coniugasse rigore
                                scientifico, innovazione e attenzione concreta ai bisogni dei pazienti. Da lì è iniziato
                                tutto»</p>

                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-block-min-spacing">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-8 offset-xl-1">
                        <article class="text-article">
                            <h4><em>Quali sono stati i <strong>momenti</strong> più significativi di questo percorso
                                    imprenditoriale?</em></h4>
                            <p>«Ce ne sono stati molti. La trasformazione di IBSA da una piccola realtà svizzera a un
                                gruppo internazionale è stata graduale ma costante. Uno dei momenti chiave è stato
                                l’investimento nella tecnologia di somministrazione oromucosale, che ha rivoluzionato il
                                modo in cui alcuni farmaci possono essere assunti. È un esempio concreto di come
                                crediamo nell’innovazione che migliora davvero la vita delle persone»</p>

                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- Two column section -->
        <partial src="components/two-column-with-bg.html"></partial>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-7 offset-xl-1">
                        <article class="text-article">
                            <h2>Title H2</h2>
                            <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida
                                elit enim aliquet hac duis habitasse vitae posuere etiam consequat. Sit nibh risus
                                molestie nunc eu nibh ac adipiscing ultrices id elementum. Lorem <strong>fusce orci enim
                                    scelerisque</strong> phasellus congue nibh at quam venenatis vel gravida elit enim
                                aliquet hac
                                duis habitasse vitae.</p>
                            <!-- image -->
                            <figure class="content-image">
                                <img class=" lazyloaded" data-src="images/contents/content-image-02.jpg"
                                    alt="image detail" title="image detail" src="images/contents/content-image-02.jpg">
                            </figure>
                            <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida
                                elit enim aliquet hac duis habitasse vitae posuere etiam consequat. Sit nibh risus
                                molestie nunc eu nibh ac adipiscing ultrices id elementum. Lorem fusce orci enim
                                scelerisque phasellus congue nibh at quam venenatis vel gravida elit enim aliquet hac
                                duis habitasse vitae.
                                Lorem <strong>fusce orci enim scelerisque</strong> phasellus congue nibh at quam
                                venenatis vel gravida
                                elit enim aliquet hac duis habitasse vitae posuere etiam consequat.
                                Sit nibh risus molestie nunc eu nibh ac adipiscing ultrices id elementum.</p>
                            <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida
                                elit enim aliquet hac duis habitasse vitae posuere etiam consequat. Sit nibh risus
                                molestie nunc eu nibh ac adipiscing ultrices id elementum. Lorem <strong>fusce orci enim
                                    scelerisque</strong> phasellus congue nibh at quam venenatis vel gravida elit enim
                                aliquet hac
                                duis habitasse vitae.</p>

                        </article>
                    </div>
                </div>
            </div>
        </section>
        <secion class="two-col__texts section-normal">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text__column--wrap bg-blue-light">
                            <div class="row">
                                <div class="col-md-6 text__column">
                                    <div class="article-content">
                                        <span class="tag-sub-heading">REPORT</span>
                                        <a href="#">
                                            <h4>Lorem ipsum dolor sit amet consectetur adipiscing mattis sit phasellus
                                                congue erat</h4>
                                        </a>
                                        <a class="btn-link" href="#">DOWNLOAD</a>
                                    </div>
                                </div>
                                <div class="col-md-6  text__column">
                                    <div class="article-content">
                                        <span class="tag-sub-heading">REPORT</span>
                                        <a href="#">
                                            <h4>Lorem fusce orci enim scelerisque phasellus congue nibh at quam
                                                venenatis
                                                vel gravida
                                            </h4>
                                        </a>
                                        <a class="btn-link" href="#">DOWNLOAD</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </secion>
        <partial src="components/ip-three-columns.html"></partial>
        <partial src="components/two-column-variation.html"></partial>
        <partial src="components/social-media-info.html"></partial>
    </main>

    <partial src="layout/footer/footer.html"></partial>
</div>

<partial src="layout/footer/site-footer.html"></partial>