<partial src="layout/header/site-header.html"></partial>
<div class="content-wrapper">
    <partial src="layout/header/header.html"></partial>

    <main class="main-content ip-main-content">
        <partial src="components/ip-page-banner-timeline.html"></partial>
        <!-- fixed button -->
        <a href="#" class="side-btn-fixed hidden">
            <img src="images/side-btn-artwork.svg" alt="IBSA Anniversary" class="img-fluid">
        </a>
        <partial src="components/timeline.html"></partial>
    </main>

    <partial src="layout/footer/footer.html"></partial>
</div>

<partial src="layout/footer/site-footer.html"></partial>