<header class="header lp-header">
    <div class="container">
        <div class="row d-xl-none">
            <div class="col-12">
                <div class="countries-mobile dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuCountriesMobile"
                        data-bs-toggle="dropdown" aria-expanded="false">IBSA GROUP</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuCountriesMobile">

                        <li><a class="show-modal" href="https://www.ibsa-pharma.at/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa-pharma.at/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Austria</a></li>

                        <li><a href="/it/subsidiaries/ibsa-baltic.html">IBSA Baltic</a></li>

                        <li><a href="/it/subsidiaries/ibsa-belgium.html">IBSA Belgium</a></li>

                        <li><a class="show-modal" href="https://www.ibsa-pharma.cn/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa-pharma.cn/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA China</a></li>

                        <li><a class="show-modal" href="https://www.ibsa-pharma.cz/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa-pharma.cz/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Czechia</a></li>

                        <li><a class="show-modal" href="https://www.ibsa-pharma.fr/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa-pharma.fr/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA France</a></li>

                        <li><a class="show-modal" href="http://www.ibsa-pharma.de/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='http://www.ibsa-pharma.de/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Germany</a></li>

                        <li><a class="show-modal" href="https://www.ibsagroup.com/subsidiaries/ibsa-hong-kong.html"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsagroup.com/subsidiaries/ibsa-hong-kong.html' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Hong Kong</a></li>

                        <li><a class="show-modal" href="http://www.ibsa.hu/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='http://www.ibsa.hu/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Hungary</a></li>

                        <li><a class="show-modal" href="http://www.ibsa-pharma.es/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='http://www.ibsa-pharma.es/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Iberia</a></li>

                        <li><a class="show-modal" href="https://www.ibsa.it/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa.it/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Italy</a></li>

                        <li><a class="show-modal" href="https://www.ibsagroup.com/subsidiaries/ibsa-netherlands.html"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsagroup.com/subsidiaries/ibsa-netherlands.html' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Netherlands</a></li>

                        <li><a class="show-modal" href="https://www.ibsanordic.com/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsanordic.com/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Nordic</a></li>

                        <li><a class="show-modal" href="https://www.ibsapoland.pl/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsapoland.pl/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Poland</a></li>

                        <li><a href="/it/subsidiaries/ibsa-singapore.html">IBSA Singapore</a></li>

                        <li><a class="show-modal" href="https://www.ibsa.sk/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa.sk/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Slovakia</a></li>

                        <li><a class="show-modal" href="https://www.ibsa.swiss/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa.swiss/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Switzerland</a></li>

                        <li><a class="show-modal" href="https://www.ibsa.com.tr/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa.com.tr/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA Turkey</a></li>

                        <li><a class="show-modal" href="https://www.ibsapharma.co.uk/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsapharma.co.uk/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA UK</a></li>

                        <li><a class="show-modal" href="https://www.ibsapharma.com/"
                                data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsapharma.com/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                data-type="html" data-title="IBSAgroup.com">IBSA USA</a></li>

                    </ul>
                </div>



            </div>
        </div>
        <div class="row">
            <div class="mobile-search-layer d-xl-none">
                <form name="search_form" id="search_form" action="/it/search.html" method="POST"><a href="#"
                        class="close-mobile-search" tabindex="-1"></a>
                    <fieldset>
                        <input type="hidden" name="csrf" value="" tabindex="-1">
                        <input type="text" placeholder="Cerca" id="search_input" name="search_input" tabindex="-1">
                        <button type="submit" tabindex="-1"><i class="icon-ibsa-search"></i></button>
                    </fieldset>
                </form>
            </div>
            <div class="col-12">
                <div class="mobile-menu d-xl-none">
                    <a href="#" aria-expanded="false"><i class="icon-ibsa-menu"></i><i class="icon-ibsa-close"></i></a>
                </div>
                <div class="header-logo">
                    <a href="/it/">
                        <picture>
                            <img src="images/logo-ibsa.png" width="98" height="74" alt="IBSA">
                        </picture>
                    </a>
                </div>
                <div class="mobile-search d-xl-none">
                    <a href="#" aria-expanded="false"><i class="icon-ibsa-search"></i></a>
                </div>
                <div class="header-content d-none d-xl-block">
                    <nav class="utility-menu">
                        <ul>

                            <li><a href="/it/media.html">Media</a></li>

                            <li><a href="/it/ibsa-group/careers.html">Carriere</a></li>
                            <li class="countries dropdown">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuCountries"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-ibsa-world"></i>IBSA
                                    GROUP</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuCountries">

                                    <li><a class="show-modal" href="https://www.ibsa-pharma.at/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa-pharma.at/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Austria</a></li>

                                    <li><a href="/it/subsidiaries/ibsa-baltic.html">IBSA Baltic</a></li>

                                    <li><a href="/it/subsidiaries/ibsa-belgium.html">IBSA Belgium</a></li>

                                    <li><a class="show-modal" href="https://www.ibsa-pharma.cn/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa-pharma.cn/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA China</a></li>

                                    <li><a class="show-modal" href="https://www.ibsa-pharma.cz/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa-pharma.cz/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Czechia</a></li>

                                    <li><a class="show-modal" href="https://www.ibsa-pharma.fr/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa-pharma.fr/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA France</a></li>

                                    <li><a class="show-modal" href="http://www.ibsa-pharma.de/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='http://www.ibsa-pharma.de/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Germany</a></li>

                                    <li><a class="show-modal"
                                            href="https://www.ibsagroup.com/subsidiaries/ibsa-hong-kong.html"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsagroup.com/subsidiaries/ibsa-hong-kong.html' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Hong Kong</a></li>

                                    <li><a class="show-modal" href="http://www.ibsa.hu/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='http://www.ibsa.hu/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Hungary</a></li>

                                    <li><a class="show-modal" href="http://www.ibsa-pharma.es/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='http://www.ibsa-pharma.es/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Iberia</a></li>

                                    <li><a class="show-modal" href="https://www.ibsa.it/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa.it/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Italy</a></li>

                                    <li><a class="show-modal"
                                            href="https://www.ibsagroup.com/subsidiaries/ibsa-netherlands.html"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsagroup.com/subsidiaries/ibsa-netherlands.html' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Netherlands</a></li>

                                    <li><a class="show-modal" href="https://www.ibsanordic.com/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsanordic.com/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Nordic</a></li>

                                    <li><a class="show-modal" href="https://www.ibsapoland.pl/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsapoland.pl/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Poland</a></li>

                                    <li><a href="/it/subsidiaries/ibsa-singapore.html">IBSA Singapore</a></li>

                                    <li><a class="show-modal" href="https://www.ibsa.sk/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa.sk/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Slovakia</a></li>

                                    <li><a class="show-modal" href="https://www.ibsa.swiss/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa.swiss/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Switzerland</a></li>

                                    <li><a class="show-modal" href="https://www.ibsa.com.tr/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsa.com.tr/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA Turkey</a></li>

                                    <li><a class="show-modal" href="https://www.ibsapharma.co.uk/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsapharma.co.uk/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA UK</a></li>

                                    <li><a class="show-modal" href="https://www.ibsapharma.com/"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsapharma.com/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com">IBSA USA</a></li>

                                </ul>
                            </li>



                            <li class="search">
                                <a href="#" aria-expanded="false"><i class="icon-ibsa-search"></i><i
                                        class="icon-ibsa-close"></i></a>
                            </li>
                            <li class="lang dropdown">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenulang"
                                    data-bs-toggle="dropdown" aria-expanded="false">IT</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenulang">
                                    <li> <a class="dropdown-item" title="en" href="/"> EN </a> </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- Horizontal navigation -->






                    <nav class="main-menu">
                        <ul>
                            <li class="sub">
                                <a href="/it/ibsa-group.html" title="Chi siamo" id="menuHeading0" role="button"
                                    aria-expanded="false" aria-controls="menuContent0">Chi siamo</a>
                                <ul id="menuContent0" aria-labelledby="menuHeading0">
                                    <li>
                                        <a href="/it/ibsa-group/general-management.html"
                                            title="Governance &amp; Management" aria-expanded="true">Governance &amp;
                                            Management</a>
                                    </li>
                                    <li>
                                        <a href="/it/ibsa-group/inside-ibsa.html" title="Inside IBSA"
                                            aria-expanded="true">Inside IBSA</a>
                                    </li>
                                    <li>
                                        <a href="/it/ibsa-group/technologies.html" title="Tecnologie"
                                            aria-expanded="true">Tecnologie</a>
                                    </li>
                                    <li>
                                        <a href="/it/ibsa-group/production-sites.html" title="Siti produttivi"
                                            aria-expanded="true">Siti produttivi</a>
                                    </li>
                                    <li>
                                        <a href="/it/ibsa-group/ibsa-derma.html" title="IBSA Derma" class="show-modal"
                                            data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='/it/ibsa-group/ibsa-derma.html' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                            data-type="html" data-title="IBSAgroup.com" aria-expanded="true">IBSA
                                            Derma</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub">
                                <a href="/it/our-pillars.html" title="I nostri pilastri" id="menuHeading1" role="button"
                                    aria-expanded="false" aria-controls="menuContent1">I nostri pilastri</a>
                                <ul id="menuContent1" aria-labelledby="menuHeading1">
                                    <li>
                                        <a href="/it/our-pillars/people.html" title="Persona"
                                            aria-expanded="false">Persona</a>
                                    </li>
                                    <li>
                                        <a href="/it/our-pillars/innovation.html" title="Innovazione"
                                            aria-expanded="false">Innovazione</a>
                                    </li>
                                    <li>
                                        <a href="/it/our-pillars/quality.html" title="Qualità"
                                            aria-expanded="false">Qualità</a>
                                    </li>
                                    <li>
                                        <a href="/it/our-pillars/responsibility.html" title="Responsabilità"
                                            aria-expanded="false">Responsabilità</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub">
                                <a href="/it/therapeutic-areas.html" title="Aree terapeutiche" id="menuHeading2"
                                    role="button" aria-expanded="false" aria-controls="menuContent2">Aree
                                    terapeutiche</a>
                                <ul id="menuContent2" aria-labelledby="menuHeading2">
                                    <li>
                                        <a href="/it/therapeutic-areas/reproductive-medicine.html"
                                            title="Medicina della riproduzione" aria-expanded="false">Medicina della
                                            riproduzione</a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/endocrinology.html" title="Endocrinologia"
                                            aria-expanded="false">Endocrinologia</a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/pain-and-inflammation.html"
                                            title="Dolore e infiammazione" aria-expanded="false">Dolore e
                                            infiammazione</a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/osteoarticular.html" title="Osteoarticolare "
                                            aria-expanded="false">Osteoarticolare </a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/aesthetic-medicine.html"
                                            title="Medicina Estetica" aria-expanded="false">Medicina Estetica</a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/dermatology.html" title="Dermatologia"
                                            aria-expanded="false">Dermatologia</a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/uro-gynaecology.html" title="Uro-ginecologia"
                                            aria-expanded="false">Uro-ginecologia</a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/cardiometabolic.html" title="Cardiometabolica"
                                            aria-expanded="false">Cardiometabolica</a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/respiratory.html" title="Respiratoria"
                                            aria-expanded="false">Respiratoria</a>
                                    </li>
                                    <li>
                                        <a href="/it/therapeutic-areas/consumer-health.html" title="Consumer Health "
                                            aria-expanded="false">Consumer Health </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub">
                                <a href="/it/sustainability.html" title="Sostenibilità" id="menuHeading3" role="button"
                                    aria-expanded="false" aria-controls="menuContent3">Sostenibilità</a>
                                <ul id="menuContent3" aria-labelledby="menuHeading3">
                                    <li>
                                        <a href="/it/sustainability/manifesto.html"
                                            title="Il nostro manifesto della sostenibilità" aria-expanded="false">Il
                                            nostro manifesto della sostenibilità</a>
                                    </li>
                                    <li>
                                        <a href="/it/sustainability/sustainability-report.html"
                                            title="Rapporto di Sostenibilità" aria-expanded="false">Rapporto di
                                            Sostenibilità</a>
                                    </li>
                                    <li>
                                        <a href="/it/sustainability/ibsa2030.html" title="#IBSA2030"
                                            aria-expanded="false">#IBSA2030</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="highlight">
                                <a class="show-modal" href="https://www.ibsafoundation.org/it/"
                                    data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsafoundation.org/it/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                    data-type="html" data-title="IBSAgroup.com">IBSA Foundation</a>
                            </li>

                            <li class="search-menu">
                                <form name="search_form" id="search_form" action="/it/search.html" method="post">
                                    <fieldset>
                                        <input type="hidden" name="csrf" value="">
                                        <input type="text" placeholder="Cerca" id="search_input" name="search_input">
                                        <button type="submit"><i class="icon-ibsa-search"></i></button>
                                    </fieldset>
                                </form>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>




    <div class="mobile-menu-layer">
        <div>

            <ul class="mobile-menu-main">
                <li>
                    <button id="mobileHeading0" class="accordion-button" type="button" aria-expanded="false"
                        aria-controls="mobileContent0"></button>
                    <a href="/it/ibsa-group.html" title="Chi siamo">Chi siamo</a>

                    <div id="mobileContent0" class="accordion-content" aria-labelledby="mobileHeading0">
                        <ul class="mobile-submenu">
                            <li>
                                <a href="/it/ibsa-group/general-management.html"
                                    title="Governance &amp; Management">Governance &amp; Management</a>
                            </li>
                            <li>
                                <a href="/it/ibsa-group/inside-ibsa.html" title="Inside IBSA">Inside IBSA</a>
                            </li>
                            <li>
                                <a href="/it/ibsa-group/technologies.html" title="Tecnologie">Tecnologie</a>
                            </li>
                            <li>
                                <a href="/it/ibsa-group/production-sites.html" title="Siti produttivi">Siti
                                    produttivi</a>
                            </li>
                            <li>
                                <a href="/it/ibsa-group/ibsa-derma.html" title="IBSA Derma" class="show-modal"
                                    data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='/it/ibsa-group/ibsa-derma.html' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                    data-type="html" data-title="IBSAgroup.com">IBSA Derma</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="mobileHeading1" class="accordion-button" type="button" aria-expanded="false"
                        aria-controls="mobileContent1"></button>
                    <a href="/it/our-pillars.html" title="I nostri pilastri">I nostri pilastri</a>

                    <div id="mobileContent1" class="accordion-content" aria-labelledby="mobileHeading1">
                        <ul class="mobile-submenu">
                            <li>
                                <a href="/it/our-pillars/people.html" title="Persona">Persona</a>
                            </li>
                            <li>
                                <a href="/it/our-pillars/innovation.html" title="Innovazione">Innovazione</a>
                            </li>
                            <li>
                                <a href="/it/our-pillars/quality.html" title="Qualità">Qualità</a>
                            </li>
                            <li>
                                <a href="/it/our-pillars/responsibility.html" title="Responsabilità">Responsabilità</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="mobileHeading2" class="accordion-button" type="button" aria-expanded="false"
                        aria-controls="mobileContent2"></button>
                    <a href="/it/therapeutic-areas.html" title="Aree terapeutiche">Aree terapeutiche</a>

                    <div id="mobileContent2" class="accordion-content" aria-labelledby="mobileHeading2">
                        <ul class="mobile-submenu">
                            <li>
                                <a href="/it/therapeutic-areas/reproductive-medicine.html"
                                    title="Medicina della riproduzione">Medicina della riproduzione</a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/endocrinology.html"
                                    title="Endocrinologia">Endocrinologia</a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/pain-and-inflammation.html"
                                    title="Dolore e infiammazione">Dolore e infiammazione</a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/osteoarticular.html"
                                    title="Osteoarticolare ">Osteoarticolare </a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/aesthetic-medicine.html"
                                    title="Medicina Estetica">Medicina Estetica</a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/dermatology.html" title="Dermatologia">Dermatologia</a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/uro-gynaecology.html"
                                    title="Uro-ginecologia">Uro-ginecologia</a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/cardiometabolic.html"
                                    title="Cardiometabolica">Cardiometabolica</a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/respiratory.html" title="Respiratoria">Respiratoria</a>
                            </li>
                            <li>
                                <a href="/it/therapeutic-areas/consumer-health.html" title="Consumer Health ">Consumer
                                    Health </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="mobileHeading3" class="accordion-button" type="button" aria-expanded="false"
                        aria-controls="mobileContent3"></button>
                    <a href="/it/sustainability.html" title="Sostenibilità">Sostenibilità</a>

                    <div id="mobileContent3" class="accordion-content" aria-labelledby="mobileHeading3">
                        <ul class="mobile-submenu">
                            <li>
                                <a href="/it/sustainability/manifesto.html"
                                    title="Il nostro manifesto della sostenibilità">Il nostro manifesto della
                                    sostenibilità</a>
                            </li>
                            <li>
                                <a href="/it/sustainability/sustainability-report.html"
                                    title="Rapporto di Sostenibilità">Rapporto di Sostenibilità</a>
                            </li>
                            <li>
                                <a href="/it/sustainability/ibsa2030.html" title="#IBSA2030">#IBSA2030</a>
                            </li>
                        </ul>
                    </div>
                </li>


                <li class="highlight">
                    <a class="show-modal" href="https://www.ibsafoundation.org/it/"
                        data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.ibsafoundation.org/it/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                        data-type="html" data-title="IBSAgroup.com">IBSA Foundation</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="mobile-menu-utility">

                <li><a href="/it/media.html">Media</a></li>

                <li><a href="/it/ibsa-group/careers.html">Carriere</a></li>
            </ul>
        </div>
        <div>
            <ul class="mobile-menu-lang">
                <ul class="mobile-menu-lang">
                    <li> <a title="en" href="/"> EN </a> </li>
                    <li class="active"> <a title="it" href="/it/"> IT </a> </li>
                </ul>
            </ul>
        </div>
    </div>
</header>