<!DOCTYPE html>
<html lang="it">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Meta:site specific-->
  <title>Home - IBSA Group</title>
  <meta name="author" content="NVB" />
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="IBSA description">

  <!--  Open Graph Data for Facebook -->
  <meta property="og:title" content="Title Of Your Content Here" />
  <meta property="og:description" content="Description of your content here" />
  <meta property="og:url" content="http://www.yoursite.com/yourcontent.html" />
  <meta property="og:image" content="http://www.yoursite.com/yourimage.jpg" />
  <meta property="og:site_name" content="The Name Of Your Site" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />

  <!-- Twitter cards for twitter.com -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Title Of Your Content Here" />
  <meta name="twitter:description" content="Description of your content here" />
  <meta name="twitter:site" content="@yourusername" />
  <meta name="twitter:image" content="http://www.yoursite.com/yourimage.jpg" />
  <meta name="twitter:creator" content="@yourusername" />

  <!-- favicon and device icons -->
  <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="images/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
  <!-- <link rel="manifest" href="images/favicon/site.webmanifest" /> -->


  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/new-styles.css" />

  <script
    src="https://www.ibsagroup.com/it/.resources/ibsa-templating-light/webresources/js/vendor/jquery-3.7.1.min~2025-04-16-10-02-21-000~cache.js"></script>

</head>

<body class=" " data-lang="it" data-delay="300">