<section class="section-anchor-block section-normal" id="scroll-navbar">
    <div class="container">
        <!-- Mobile Dropdown Toggle -->
        <div class="anchors-header-toggle" id="headerToggle">
            <span id="currentSectionLabel">Go to</span>
            <span class="arrow">&#9662;</span>
        </div>
        <!-- navigation -->
        <nav class="scroll-nav">
            <ul>
                <li><a href="#section-1" class="scroll-nav--link">Il sogno</a></li>
                <li><a href="#section-2" class="scroll-nav--link">hIBStory</a></li>
                <li><a href="#section-3" class="scroll-nav--link">Le voci di IBSA</a></li>
                <li><a href="#section-4" class="scroll-nav--link">ESG</a></li>
                <li><a href="#section-5" class="scroll-nav--link">OLTRE LA CURA</a></li>
                <li><a href="#section-6" class="scroll-nav--link">Creating tomorrow</a></li>
                <li><a href="#section-7" class="scroll-nav--link">Media</a></li>
            </ul>
        </nav>
    </div>
</section>