<section id="section-6" class="three-cols-masonary section-normal">
    <div class="container">
        <!-- Section header -->
        <div class="row justify-content-center">
            <div class="col-12 section-head-block">
                <div class="article-content">
                    <span class="sub-heading">CREATING TOMORROW</span>
                    <h3>Per un domani migliore</h3>
                    <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit enim
                        aliquet.</p>
                </div>
            </div>
        </div>

        <!-- masonary grid -->
        <div class="row">
            <div class="col-12">
                <div class="masonry__wrapper" id="masonry-grid" role="list">

                    <!-- grid item -->
                    <div class="masonry__item" role="listitem">
                        <div class="masonry__item-image">
                            <img src="images/contents/masonary-item-01.png" alt="Scenic view of Italy"
                                class="image image--fluid">

                            <!-- image overlay  -->
                            <div class="masonry__item-image-overlay">
                                <div class="tag tag--country" aria-label="Country: Italy">
                                    <span class="tag__name">ITALY</span>
                                    <div class="tag__flag">
                                        <img src="images/flag-italy.svg" alt="Italian flag">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="masonry__item-content">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur
                                adipiscing eli mattis sit.</p>
                            <a class="btn-link" href="#"
                                aria-label="View more about Lorem ipsum dolor sit amet">GUARDA</a>
                        </div>
                    </div>

                    <!-- grid item -->
                    <div class="masonry__item" role="listitem">
                        <div class="masonry__item-image">
                            <img src="images/contents/masonary-item-02.png" alt="Modern architecture"
                                class="image image--fluid">
                            <!-- image overlay  -->
                            <div class="masonry__item-image-overlay">
                                <div class="icon-holder">
                                    <img src="images/icon-files.svg" alt="File icon">
                                </div>
                                <div class="tag tag--country" aria-label="Country: GERMANY">
                                    <span class="tag__name">GERMANY</span>
                                    <div class="tag__flag">
                                        <img src="images/flag-germany.svg" alt="GERMANY flag">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry__item-content">
                            <h4>Ornare dolor nec nunc</h4>
                            <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur
                                adipiscing eli mattis sit.</p>
                            <a class="btn-link" href="#" aria-label="Read more about Ornare dolor nec nunc">LEGGI</a>
                        </div>
                    </div>
                    <!-- grid item -->
                    <div class="masonry__item" role="listitem">
                        <div class="masonry__item-image">
                            <img src="images/contents/masonary-item-03.png" alt="Beautiful landscape"
                                class="image image--fluid">
                            <!-- image overlay  -->
                            <div class="masonry__item-image-overlay">
                                <div class="icon-holder">
                                    <img src="images/icon-gallery.svg" alt="Gallery icon">
                                </div>

                                <div class="tag tag--country" aria-label="Country: Austria">
                                    <span class="tag__name">AUSTRIA</span>
                                    <div class="tag__flag">
                                        <img src="images/flag-austria.svg" alt="austria flag">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry__item-content">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur
                                adipiscing eli mattis sit.</p>
                            <a class="btn-link" href="#"
                                aria-label="Browse more about Lorem ipsum dolor sit amet">SFOGLIA</a>
                        </div>
                    </div>
                    <!-- grid item -->
                    <div class="masonry__item" role="listitem">
                        <div class="masonry__item-image">
                            <img src="images/contents/masonary-item-04.png" alt="City skyline at sunset"
                                class="image image--fluid">
                            <!-- image overlay  -->
                            <div class="masonry__item-image-overlay">
                                <div class="icon-holder">
                                    <img src="images/icon-files.svg" alt="File icon">
                                </div>
                                <div class="tag tag--country" aria-label="Country: GERMANY">
                                    <span class="tag__name">GERMANY</span>
                                    <div class="tag__flag">
                                        <img src="images/flag-germany.svg" alt="GERMANY flag">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry__item-content">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur
                                adipiscing eli mattis sit.</p>
                            <a class="btn-link" href="#"
                                aria-label="Browse more about Lorem ipsum dolor sit amet">SFOGLIA</a>
                        </div>
                    </div>
                    <!-- grid item -->
                    <div class="masonry__item" role="listitem">
                        <div class="masonry__item-image">
                            <img src="images/contents/masonary-item-05.png" alt="Mountain view"
                                class="image image--fluid">
                            <!-- image overlay  -->
                            <div class="masonry__item-image-overlay">
                                <div class="tag tag--country" aria-label="Country: Italy">
                                    <span class="tag__name">ITALY</span>
                                    <div class="tag__flag">
                                        <img src="images/flag-italy.svg" alt="Italian flag">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry__item-content">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur adipiscing
                                eli
                                mattis sit.</p>
                            <a class="btn-link" href="#"
                                aria-label="Browse more about Lorem ipsum dolor sit amet">SFOGLIA</a>
                        </div>
                    </div>
                    <!-- grid item -->
                    <div class="masonry__item" role="listitem">
                        <div class="masonry__item-image">
                            <img src="images/contents/masonary-item-04.png" alt="City skyline at sunset"
                                class="image image--fluid">
                            <!-- image overlay  -->
                            <div class="masonry__item-image-overlay">
                                <div class="icon-holder">
                                    <img src="images/icon-files.svg" alt="File icon">
                                </div>
                                <div class="tag tag--country" aria-label="Country: GERMANY">
                                    <span class="tag__name">GERMANY</span>
                                    <div class="tag__flag">
                                        <img src="images/flag-germany.svg" alt="GERMANY flag">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry__item-content">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur
                                adipiscing
                                eli
                                mattis sit.</p>
                            <a class="btn-link" href="#"
                                aria-label="Browse more about Lorem ipsum dolor sit amet">SFOGLIA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Session CTA -->
        <div class="row">
            <div class="col-12 btn-holder">
                <article class="text-article text-center">
                    <a class="btn" href="#">VAI AL CONTEST</a>
                </article>
            </div>
        </div>

    </div>
</section>