<section id="section-4" class="stats-block section-normal bg-blue-lightest">
    <div class="container">
        <!-- Section header -->
        <div class="row justify-content-center">
            <div class="col-12 section-head-block">
                <div class="article-content">
                    <span class="sub-heading">ESG</span>
                    <h3>Una crescita sostenibile</h3>
                </div>
            </div>
        </div>
        <!-- Stats counters -->
        <div class="container counter-block" id="counterBlock">
            <div class="row">
                <div class="col-md-3 counter-block-item">
                    <div class="counter" data-target="200">
                        <span class="count">0</span>
                        <div class="suffix">+</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="col-md-3 counter-block-item">
                    <div class="counter" data-target="97">
                        <span class="count">0</span>
                        <div class="suffix">%</div>
                    </div>
                    <p>Adipiscing bibendum</p>
                </div>
                <div class="col-md-3 counter-block-item">
                    <div class="counter" data-target="34">
                        <span class="count">0</span>
                        <div class="suffix">+</div>
                    </div>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="col-md-3 counter-block-item">
                    <div class="counter" data-target="100">
                        <span class="count">0</span>
                        <div class="suffix">+</div>
                    </div>
                    <p>Adipiscing bibendum</p>
                </div>
            </div>
        </div>
        <!-- Session CTA -->
        <div class="row">
            <div class="col-12 btn-holder">
                <article class="text-article text-center"> <a class="btn" href="#">SCOPRI DI PIÙ</a>
                </article>
            </div>
        </div>
    </div>
</section>