<section class="hp-testimonial__wrap hp-testimonial__wrap--variation section-normal">
    <div class="hp-testimonial">

        <!-- Testimonial content -->
        <div class="hp-testimonial__content">
            <div class="hp-testimonial__text">
                <p>
                    Fin da subito ho avuto le idee molto chiare: desideravo fare innovazione e arrivare – con impegno e
                    duro
                    lavoro – dove non era arrivato nessun altro.
                </p>
            </div>
            <div class="hp-testimonial__author">
                <div class="hp-testimonial__author--inner">
                    <h5>Arturo Licenziati</h5>
                    <p>President & Chief Executive Officer</p>
                </div>
            </div>
        </div>

        <!-- Testimonial image -->
        <div class="hp-testimonial__avatar">
            <picture class="image">
                <!-- <source data-srcset="images/testimonial-img.png" media="(max-width: 767px)"> -->
                <img src="images/contents/testimonial-img01.png" alt="Portrait of Arturo Licenziati">
            </picture>
        </div>

    </div>
</section>