<section id="section-2" class="content__two-cols-full bg-blue-light" aria-labelledby="section-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 content__two-cols-full-left">
                <picture class="image-block">
                    <source media="(max-width: 768px)" srcset="images/contents/HIBSTORY-mobile.jpg">
                    <source media="(min-width: 769px)" srcset="images/contents/HIBSTORY-desktop.jpg">
                    <img src="images/contents/HIBSTORY-desktop.jpg" alt="Bnner image">
                </picture>
            </div>
            <div class="col-md-6 content__two-cols-full-right">
                <div class="article-content">
                    <span class="sub-heading" id="section-heading">HIBSTORY</span>
                    <h3>Un visionario</h3>
                    <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit enim
                        aliquet hac duis habitasse vitae posuere etiam consequat. Sit nibh risus molestie nunc eu nibh
                        ac adipiscing ultrices id elementum. Lorem fusce orci enim scelerisque phasellus congue nibh at
                        quam venenatis vel gravida elit enim aliquet hac duis habitasse vitae.</p>
                    <a class="btn btn-normal" href="#" aria-label="Scopri di più sulla storia">SCOPRI DI PIÙ</a>
                </div>
            </div>
        </div>
    </div>
</section>