<section id="section-3" class="section-three-cols section-normal">
    <div class="container">
        <!-- Section header -->
        <div class="row justify-content-center">
            <div class="col-12 section-head-block">
                <div class="article-content">
                    <span class="sub-heading">LE VOCI DI IBSA</span>
                    <h3>Lorem ipsum dolor sit</h3>
                    <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit enim
                        aliquet.</p>
                </div>
            </div>
        </div>
        <!-- Three column carousel -->
        <div class="row">
            <div class="col-12">
                <div class="swiper-container three-cols-cards">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-boxed">
                                <div class="card-boxed_image">
                                    <picture class="image-block">
                                        <source media="(max-width: 768px)" srcset="https://place-hold.it/305x195">
                                        <source media="(min-width: 769px)"
                                            srcset="images/contents/three-column-img-02.jpg">
                                        <img src="images/contents/three-column-img-02.jpg" alt="Image">
                                    </picture>
                                    <div class="card-boxed_image--overlay">
                                        <div class="tag-text">TAG</div>
                                    </div>
                                </div>
                                <div class="card-boxed_content">
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur adipiscing eli mattis
                                        sit.</p>
                                    <a href="#" class="btn-link">LEGGI</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-boxed">
                                <div class="card-boxed_image">
                                    <picture class="image-block">
                                        <source media="(max-width: 768px)" srcset="https://place-hold.it/305x195">
                                        <source media="(min-width: 769px)"
                                            srcset="images/contents/three-column-img-01.jpg">
                                        <img src="images/contents/three-column-img-01.jpg" alt="Image">
                                    </picture>
                                    <div class="card-boxed_image--overlay">
                                        <div class="tag-text">TAG</div>
                                    </div>
                                </div>
                                <div class="card-boxed_content">
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur adipiscing eli mattis
                                        sit.</p>
                                    <a href="#" class="btn-link">LEGGI</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-boxed">
                                <div class="card-boxed_image">
                                    <picture class="image-block">
                                        <source media="(max-width: 768px)" srcset="https://place-hold.it/305x195">
                                        <source media="(min-width: 769px)"
                                            srcset="images/contents/three-column-img-03.jpg">
                                        <img src="images/contents/three-column-img-03.jpg" alt="Image">
                                    </picture>
                                    <div class="card-boxed_image--overlay">
                                        <div class="tag-text">TAG</div>
                                    </div>
                                </div>
                                <div class="card-boxed_content">
                                    <h4>Lorem ipsum dolor sit</h4>
                                    <p>Lorem ipsum dolor sit amet dolor sit dolor siet consectetur adipiscing eli mattis
                                        sit.</p>
                                    <a href="#" class="btn-link">LEGGI</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
        <!-- Session CTA -->
        <div class="row">
            <div class="col-12 btn-holder">
                <article class="text-article text-center">
                    <a class="btn" href="#">SCOPRI DI PIÙ</a>
                </article>
            </div>
        </div>
    </div>
</section>