<section id="section-1" class="content__two-cols">
    <div class="container">
        <div class="row">
            <div class="col-md-7 content__two-cols-left">
                <div class="article-content">
                    <span class="sub-heading">Il sogno</span>
                    <h3>Un visionario</h3>
                    <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit enim
                        aliquet hac duis habitasse vitae posuere etiam consequat. Sit nibh risus molestie nunc eu nibh
                        ac
                        adipiscing ultrices id elementum. Lorem fusce orci enim scelerisque phasellus congue nibh at
                        quam
                        venenatis vel gravida elit enim aliquet hac duis habitasse vitae.</p>
                    <a class="btn btn-normal" href="#">VAI ALL’INTERVISTA</a>
                </div>
            </div>
            <div class="col-md-5 content__two-cols-right">
                <picture class="image-block">
                    <source media="(max-width: 768px)" srcset="images/contents/IBSA_Strategymeeting-mobile.jpg">
                    <source media="(min-width: 769px)" srcset="images/contents/IBSA_Strategymeeting.jpg">
                    <img src="images/contents/IBSA_Strategymeeting.jpg" alt="Bnner image">
                </picture>
            </div>

            <!-- Show button in mobile only -->
            <div class="mob-btn-wrapper col-12 d-md-none text-center">
                <a class="btn btn-normal" href="#">VAI ALL’INTERVISTA</a>
            </div>

        </div>
    </div>
</section>