<section class="section-carousel-block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8 offset-xl-1">
                <div class="gallery-slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-01.jpg/jcr:content/Gallery%2001.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-02.jpg/jcr:content/Gallery%2002.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-03.jpg/jcr:content/Gallery%2003.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-04.jpg/jcr:content/Gallery%2004.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-05.jpg/jcr:content/Gallery%2005.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-06.jpg/jcr:content/Gallery%2006.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-07.jpg/jcr:content/Gallery%2007.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-08.jpg/jcr:content/Gallery%2008.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-09.jpg/jcr:content/Gallery%2009.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure>
                                <img src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/1140x721/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-10.jpg/jcr:content/Gallery%2010.jpg"
                                    width="872" height="552" alt="">
                                <figcaption>&nbsp;</figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="swiper-navigation-wrapper">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-counter-wrapper">
                        <div class="swiper-button-prev"></div>
                        <div class="counter"><span class="current">0</span> / <span class="total">0</span></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-8 offset-xl-1">
                <nav class="gallery-slider-nav">
                    <ul>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-01.jpg/jcr:content/Gallery%2001.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-02.jpg/jcr:content/Gallery%2002.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-03.jpg/jcr:content/Gallery%2003.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-04.jpg/jcr:content/Gallery%2004.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-05.jpg/jcr:content/Gallery%2005.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-06.jpg/jcr:content/Gallery%2006.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-07.jpg/jcr:content/Gallery%2007.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-08.jpg/jcr:content/Gallery%2008.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-09.jpg/jcr:content/Gallery%2009.jpg"
                                    width="212" height="133" alt=""></a></li>
                        <li><a href="#"><img
                                    src="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/245x154/dam/site-ibsa/media/news/2025/Inaugurazione-Antares/Gallery/Gallery-10.jpg/jcr:content/Gallery%2010.jpg"
                                    width="212" height="133" alt=""></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>