<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="breadcrumb">
                    <ul>
                        <li><a href="/it/" title="Home">40 Anni</a></li>
                        <li><span>Lorem ipsum</span></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1>Title H1 vitae posuere etiam</h1>
                <p class="lead">Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida
                    elit.</p>
            </div>
        </div>
    </div>
</section>