<section class="hero-section img-bkg no-content lazyload banner-with--overlay" data-sizes="auto" data-bgset="https://www.ibsagroup.com/.imaging/mte/ibsa-templating/770x350/dam/site-ibsa/contacts/slider-contacts/Mobile-contatti.jpg/jcr:content/contatti-mobile-640x320.jpg 
    [(max-width: 767px)]
     | images/contents/banner-timeline.png">

    <div class="banner-overlay">
        <div class="container">
            <div class="row ">
                <div class="col-12 text-center">
                    <div class="banner-overlay-inner">
                        <h1>hIBStory</h1>
                        <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>