<section id="section-7" class="social-connect-block section-normal">
    <div class="container">


        <!-- Section header -->
        <div class="row justify-content-center">
            <div class="col-12 section-head-block">
                <div class="article-content">
                    <h3>#SocialIBSA</h3>
                </div>
            </div>
        </div>

        <!-- Social media plugin -->
        <div class="row">
            <div class="widget-element">
                <!-- <div id="flockler-embed-179eaae2cae0d0e267f9a6862555a69c">
                <script
                    data-src="https://plugins.flockler.com/embed/179d624fab3080a1c505993ad684a2dc/179eaae2cae0d0e267f9a6862555a69c"
                    async="" data-script-lazy=""></script>
            </div> -->
            </div>
        </div>
    </div>
    <!-- Social media links -->
    <div class="social-connect-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="social-connect">
                        <h4>Seguici su</h4>
                        <ul>
                            <li><a href="https://www.instagram.com/ibsa_group/" class="show-modal" target="_blank"
                                    data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.instagram.com/ibsa_group/' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                    data-type="html" data-title="IBSAgroup.com"><i
                                        class="icon-ibsa-social-instagram"></i>
                                </a>
                            </li>
                            <li><a href="https://www.facebook.com/ibsapharma" class="show-modal" target="_blank"
                                    data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.facebook.com/ibsapharma' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                    data-type="html" data-title="IBSAgroup.com"><i
                                        class="icon-ibsa-social-facebook"></i>

                                </a>
                            </li>
                            <li><a href="https://it.linkedin.com/company/ibsa-sa" class="show-modal" target="_blank"
                                    data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://it.linkedin.com/company/ibsa-sa' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                    data-type="html" data-title="IBSAgroup.com"><i
                                        class="icon-ibsa-social-linkedin"></i>

                                </a>
                            </li>
                            <li><a href="https://www.youtube.com/channel/UC6_RGsfULeAOZaT09Kq6kfw" class="show-modal"
                                    target="_blank"
                                    data-src="<div class='content-modal'><h3>State lasciando il sito IBSAgroup.com</h3><p>Questo link ti porter&amp;agrave; ad un altro sito web in cui la Privacy Policy e Cookie Policy di questo sito web non si applicano. Di conseguenza, non siamo responsabili per le tue interazioni con tale sito web.</p> <a href='https://www.youtube.com/channel/UC6_RGsfULeAOZaT09Kq6kfw' class='btn btn-white' target='_blank'>Procedi</a></div>"
                                    data-type="html" data-title="IBSAgroup.com"><i class="icon-ibsa-social-youtube"></i>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>