<section class="section-normal">
    <div class="container">
        <!-- Filter -->
        <nav class="filters" aria-label="Filtra per categoria">
            <h5 class="filter-heading">Filtra per</h5>
            <div role="group" aria-labelledby="filter-heading" class="filters-btn-group">
                <button type="button" data-category="all" class="active" aria-pressed="true">Tutte</button>
                <button type="button" data-category="categoria-1" aria-pressed="false">Categoria 1</button>
                <button type="button" data-category="categoria-2" aria-pressed="false">Categoria 2</button>
                <button type="button" data-category="categoria-3" aria-pressed="false">Categoria 3</button>
            </div>
        </nav>
        <!-- timeline block -->
        <div class="timeline__img">
            <div class="img-holder">
                <img src="images/logo-timeline.png" alt="Logo">
            </div>
        </div>

        <div class="timeline">
            <!-- timeline item -->
            <div class="timeline-item" data-category="categoria-2">
                <!-- time line year and date -->
                <div class="timeline-item-head">
                    <div class="timeline-year">
                        <h4>1985</h4>
                    </div>
                    <div class="timeline-date">
                        <span>22 APR</span>
                    </div>
                </div>
                <!-- content -->
                <div class="timeline-card">
                    <div class="timeline-card-img">
                        <picture class="image-block">
                            <source media="(max-width: 768px)" srcset="images/contents/timeline-img-01.jpg">
                            <source media="(min-width: 769px)" srcset="images/contents/timeline-img-01.jpg">
                            <img src="images/contents/timeline-img-01.jpg" alt="Image">
                        </picture>
                    </div>

                    <div class="timeline-card--content">
                        <span class="tag-sub-heading">CATEGORIA</span>
                        <h4>Lorem ipsum dolor </h4>
                        <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit
                            enim
                            aliquet hac duis habitasse vitae posuere etiam consequat.</p>
                        <a href="#" class="btn-link">LEGGI</a>
                    </div>
                </div>
            </div>
            <!-- timeline item -->
            <div class="timeline-item" data-category="categoria-4">
                <!-- time line year and date -->
                <div class="timeline-item-head">
                    <div class="timeline-year">
                        <h4>1988</h4>
                    </div>
                    <div class="timeline-date">
                        <span>7 FEB</span>
                    </div>
                </div>
                <!-- content -->
                <div class="timeline-card">
                    <div class="timeline-card-img">
                        <picture class="image-block">
                            <source media="(max-width: 768px)" srcset="images/contents/timeline-img-02.jpg">
                            <source media="(min-width: 769px)" srcset="images/contents/timeline-img-02.jpg">
                            <img src="images/contents/timeline-img-02.jpg" alt="Image">
                        </picture>
                    </div>

                    <div class="timeline-card--content">
                        <span class="tag-sub-heading">CATEGORIA</span>
                        <h4>Lorem ipsum dolor </h4>
                        <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit
                            enim
                            aliquet hac duis habitasse vitae posuere etiam consequat.</p>
                        <a href="#" class="btn-link">LEGGI</a>
                    </div>
                </div>
            </div>
            <!-- timeline item -->
            <div class="timeline-item" data-category="categoria-1">
                <!-- time line year and date -->
                <div class="timeline-item-head">
                    <div class="timeline-year">
                        <h4>1991</h4>
                    </div>
                    <div class="timeline-date">
                        <span>3 MAR</span>
                    </div>
                </div>
                <!-- content -->
                <div class="timeline-card">
                    <div class="timeline-card-img">
                        <picture class="image-block">
                            <source media="(max-width: 768px)" srcset="images/contents/timeline-img-03.jpg">
                            <source media="(min-width: 769px)" srcset="images/contents/timeline-img-03.jpg">
                            <img src="images/contents/timeline-img-03.jpg" alt="Image">
                        </picture>
                    </div>

                    <div class="timeline-card--content">
                        <span class="tag-sub-heading">CATEGORIA</span>
                        <h4>Lorem ipsum dolor </h4>
                        <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit
                            enim
                            aliquet hac duis habitasse vitae posuere etiam consequat.</p>
                        <a href="#" class="btn-link">LEGGI</a>
                    </div>
                </div>
            </div>
            <!-- timeline item -->
            <div class="timeline-item" data-category="categoria-3">
                <!-- time line year and date -->
                <div class="timeline-item-head">
                    <div class="timeline-year">
                        <h4>1998</h4>
                    </div>
                    <div class="timeline-date">
                        <span>21 GIU</span>
                    </div>
                </div>
                <!-- content -->
                <div class="timeline-card">
                    <div class="timeline-card-img">
                        <picture class="image-block">
                            <source media="(max-width: 768px)" srcset="images/contents/timeline-img-04.jpg">
                            <source media="(min-width: 769px)" srcset="images/contents/timeline-img-04.jpg">
                            <img src="images/contents/timeline-img-04.jpg" alt="Image">
                        </picture>
                    </div>

                    <div class="timeline-card--content">
                        <span class="tag-sub-heading">CATEGORIA</span>
                        <h4>Lorem ipsum dolor </h4>
                        <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit
                            enim
                            aliquet hac duis habitasse vitae posuere etiam consequat.</p>
                        <a href="#" class="btn-link">LEGGI</a>
                    </div>
                </div>
            </div>
            <!-- timeline item -->
            <div class="timeline-item" data-category="categoria-4">
                <!-- time line year and date -->
                <div class="timeline-item-head">
                    <div class="timeline-year">
                        <h4>2001</h4>
                    </div>
                    <div class="timeline-date">
                        <span>23 OTT</span>
                    </div>
                </div>
                <!-- content -->
                <div class="timeline-card">
                    <div class="timeline-card-img">
                        <picture class="image-block">
                            <source media="(max-width: 768px)" srcset="images/contents/timeline-img-05.jpg">
                            <source media="(min-width: 769px)" srcset="images/contents/timeline-img-05.jpg">
                            <img src="images/contents/timeline-img-05.jpg" alt="Image">
                        </picture>
                    </div>

                    <div class="timeline-card--content">
                        <span class="tag-sub-heading">CATEGORIA</span>
                        <h4>Lorem ipsum dolor </h4>
                        <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit
                            enim
                            aliquet hac duis habitasse vitae posuere etiam consequat.</p>
                        <a href="#" class="btn-link">LEGGI</a>
                    </div>
                </div>
            </div>
            <!-- timeline item -->
            <div class="timeline-item" data-category="categoria-2">
                <!-- time line year and date -->
                <div class="timeline-item-head">
                    <div class="timeline-year">
                        <h4>2003</h4>
                    </div>
                    <div class="timeline-date">
                        <span>12 MAG</span>
                    </div>
                </div>
                <!-- content -->
                <div class="timeline-card">
                    <div class="timeline-card-img">
                        <picture class="image-block">
                            <source media="(max-width: 768px)" srcset="images/contents/timeline-img-06.jpg">
                            <source media="(min-width: 769px)" srcset="images/contents/timeline-img-06.jpg">
                            <img src="images/contents/timeline-img-06.jpg" alt="Image">
                        </picture>
                    </div>

                    <div class="timeline-card--content">
                        <span class="tag-sub-heading">CATEGORIA</span>
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit
                            enim
                            aliquet hac duis habitasse vitae posuere etiam consequat.</p>
                        <a href="#" class="btn-link">LEGGI</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="loader loader-hidden"><img src="images/spinner.svg" alt="Loading"></div>
    </div>
</section>