<section class="section-two-cols section-normal bg-blue-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="article-content">
                    <h3>IBSA Foundation
                        per la ricerca scientifica</h3>
                    <p>
                        Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit enim
                        aliquet.
                    </p>
                    <a class="btn" href="#">SCOPRI DI PIÙ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container col-md-6 pull-right">
        <img src="images/contents/two-column-img-01.jpg" alt="">
    </div>
</section>