<section class="section-two-cols-variation section-normal bg-blue-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="article-content">
                    <h3>hIBStory: La storia di IBSA dagli anni 70 ad oggi</h3>
                    <p>
                        Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis vel gravida elit.
                    </p>
                    <a class="btn btn-white" href="#">SCOPRI DI PIÙ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-block">
        <div class="row">
            <div class="col-md-7 bg-block__background"></div>
            <div class="col-md-5 bg-block__image">
                <img src="images/contents/two-cols-bg.jpg" alt="image">
            </div>
        </div>
    </div>
</section>