<secion class="two-col__texts section-normal">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text__column--wrap bg-blue-light">
                    <div class="row">
                        <div class="col-md-6 text__column">
                            <div class="article-content">
                                <span class="tag-sub-heading">News</span>
                                <h4>Lorem ipsum dolor sit amet consectetur adipiscing mattis sit phasellus
                                    congue erat</h4>
                                <a class="btn-link" href="#">LEGGI</a>
                            </div>
                        </div>
                        <div class="col-md-6  text__column">
                            <div class="article-content">
                                <span class="tag-sub-heading">COMUNICATO STAMPA</span>
                                <a href="#">
                                    <h4>Lorem fusce orci enim scelerisque phasellus congue nibh at quam venenatis
                                        vel gravida
                                    </h4>
                                </a>
                                <a class="btn-link" href="#">LEGGI</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</secion>